{%extends 'base.html'%}
{%block content%}
<ul>
    <li class="li-unused"><span>Noise<a style="color:#337ab7">App</a></span></li>
    <li><a href="{{url_for('moreinfo')}}">More Info</a></li>
    <li><a href="{{url_for('reginfo')}}">Regulation Info</a></li>
	<li><a class="active" href="{{url_for('about')}}">Tool Walkthrough</a></li>
	<li><a href="{{url_for('index')}}">Home</a></li>
</ul>
    <div style="font-size:large;font-family:Work Sans;color:#333;margin:50px 50px 100px 50px">
        Step 1: Begin by selecting the regulation you wish to use for your calculation. If you are unsure of which regulation you should select more information can be found on the ‘Regulation Information’ tab, found in the navigation bar. If you wish to input custom numbers for your regulation’s calculations you may do so by selecting ‘Custom’ and inputting the desired values.
        <br><br>
        Step 1: Begin by selecting the regulation you wish to use for your calculation. If you are unsure of which regulation you should select more information can be found on the ‘Regulation Information’ tab, found in the navigation bar. If you wish to input custom numbers for your regulation’s calculations you may do so by selecting ‘Custom’ and inputting the desired values.
        <br><br>
        Step 2: If hearing protection was used or is planned to be used during the session you are calculating you can check ‘Yes’ in the ‘Hearing Protection’ box and input the Noise Reduction Rating (NRR) of the Proper Protective Equipment (PPE) used. If no hearing protection was used then simply select ‘None Used.’ Do NOT select ‘Yes’ and then input an NRR of 0, this will throw off your calculation and lead to inaccurate results.
        <br><br>
        Step 3: Selecting a standard is pretty much the same as selecting a regulation. If you would like more information about what each standard means you can navigate to the ‘More Information’ tab, or if you wish to input a custom threshold, simply select ‘Custom’ and input the desired value.
        <br><br>
        Step 4: When actually inputting the equivalent continuous sound levels (LEQ) and associated times for your session it is important to ensure that each time is matched correctly with the appropriate LEQ (i.e. LEQ #1 was experienced for Time #1 length). It is not necessary to fill every box, but make sure that there are the same number of LEQ inputs and time inputs. It is also important to remember that the calculation will break if all inputted values are 0 and no results will be displayed.
        <br><br>
        Step 5: After all the above has been completed you can ensure that your inputs are as you would like them and then hit the ‘Submit’ button. This will return you one or two numbers, the first of which represents the percent of your maximum recommended sound dosage you reached. The other, if present, is the minimum NRR protection that would need to be worn during this session to decrease the audio dosage below the recommended amount.
        <br><br>
        More information on how the calculation is taking place as well as information about PPE and NRR can be found in the ‘More Information’ tab. Happy calculating!
    </div>

{%endblock%}
