<style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover:not(.active) {
        background-color: #111;
      }

      .active {
        background-color: #dd550c;
      }

      body {
		padding: 0px;
		margin: 0px;
		background-color: #cdcdcd;
	    }

</style>
<body>

{%block content%}

{%endblock%}
<center>
    Copyright (c) to the NoiseApp Bois - All Rights Reserved
</center>
</body>