{%extends 'base.html'%}
{%block content%}
<style>

</style>
<ul>
    <li><a class="active" href="{{url_for('index')}}">NoiseApp Home</a></li>
    <li><a href="{{url_for('about')}}">Tool Walkthrough</a></li>
    <li><a href="{{url_for('reginfo')}}">Regulation Info</a></li>
    <li><a href="{{url_for('moreinfo')}}">More Info</a></li>
</ul>
<br/>
<center>
    <h1 style="color:#dd550c;">NoiseApp Calculations</h1>

	<form method="POST">
	<div style="padding:8px;margin:auto;">
		<fieldset style="display:inline-block;text-align:right;width:100px;">
			<legend style="color:#03244d;font-weight: 600">LEQs</legend>
			1. <input type="text" id="LEQ1" name="LEQ1" value="100" size = "5" style="margin-bottom:2px"><br>
			2. <input type="text" id="LEQ2" name="LEQ2" value="0" size = "5" style="margin-bottom:2px"><br>
			3. <input type="text" id="LEQ3" name="LEQ3" value="0" size = "5" style="margin-bottom:2px"><br>
			4. <input type="text" id="LEQ4" name="LEQ4" value="0" size = "5" style="margin-bottom:2px"><br>
			5. <input type="text" id="LEQ5" name="LEQ5" value="0" size = "5" style="margin-bottom:2px"><br>
			6. <input type="text" id="LEQ6" name="LEQ6" value="0" size = "5" style="margin-bottom:2px"><br>
			7. <input type="text" id="LEQ7" name="LEQ7" value="0" size = "5" style="margin-bottom:2px"><br>
			8. <input type="text" id="LEQ8" name="LEQ8" value="0" size = "5" style="margin-bottom:2px"><br>
			9. <input type="text" id="LEQ9" name="LEQ9" value="0" size = "5" style="margin-bottom:2px"><br>
			10. <input type="text" id="LEQ10" name="LEQ10" value="0" size = "5" style="margin-bottom:2px"><br>
		</fieldset>

		<fieldset style="display:inline-block;text-align:right;width:100px;">
			<legend style="color:#03244d;font-weight: 600">Time (hrs)</legend>
			1. <input type="text" id="TIME1" name="TIME1" value="10" size = "5" style="margin-bottom:2px"><br>
			2. <input type="text" id="TIME2" name="TIME2" value="0" size = "5" style="margin-bottom:2px"><br>
			3. <input type="text" id="TIME3" name="TIME3" value="0" size = "5" style="margin-bottom:2px"><br>
			4. <input type="text" id="TIME4" name="TIME4" value="0" size = "5" style="margin-bottom:2px"><br>
			5. <input type="text" id="TIME5" name="TIME5" value="0" size = "5" style="margin-bottom:2px"><br>
			6. <input type="text" id="TIME6" name="TIME6" value="0" size = "5" style="margin-bottom:2px"><br>
			7. <input type="text" id="TIME7" name="TIME7" value="0" size = "5" style="margin-bottom:2px"><br>
			8. <input type="text" id="TIME8" name="TIME8" value="0" size = "5" style="margin-bottom:2px"><br>
			9. <input type="text" id="TIME9" name="TIME9" value="0" size = "5" style="margin-bottom:2px"><br>
			10. <input type="text" id="TIME10" name="TIME10" value="0" size = "5" style="margin-bottom:2px"><br>
		</fieldset>

		<fieldset style="display:inline-block;width:453px;height:249px;vertical-align:bottom;text-align:center;">
			<legend style="color:#03244d;font-weight: 600">Results</legend>
			{% if percDosage is defined %}
				Percent Dosage:<output >{{ percDosage }}</output>
				<br></br>
			{% endif %}
			{% if protRec is defined %}
				Total Recommended Protection:<output >{{ protRec }}</output>
				<br></br>
			{% endif %}
			{% if error is defined %}
				<output >{{ error }}</output>
				<br></br>
			{% endif %}
		</fieldset>	
	</div>
    <!-- Usable outputs for these forms are under the field "value" -->
    <form>
	<div style="margin:auto;float:initial;padding:8px">
		<fieldset style="display:inline-block;text-align:left;box-sizing:border-box;width: 280px;vertical-align:middle">
    		<legend style="color:#03244d;font-weight: 600">Regulation</legend>
	    		<input type="radio" id="regulation1" name ="regulation" value="OSHA" checked="checked"/>
		        <label style="color: #dd550c;font-weight: 400" for="regulation1"> OSHA</label><br>

		        <input type="radio" id="regulation2" name ="regulation" value="NIOSH"/>
		        <label style="color: #dd550c;font-weight: 400" for="regulation2"> NIOSH</label><br>

		        <input type="radio" id="regulation3" name ="regulation" value="CustomRegulation"/>
		        <label style="color: #dd550c;font-weight: 400" for="regulation3"> Custom: </label>

			        <input type="text" id="customregulation1" name="customregulation1" placeholder="ER Base" size = "5">
			        <input type="text" id="customregulation2" name="customregulation2" placeholder="ER Mult" size = "5">
    	</fieldset>

		<fieldset style="display:inline-block;text-align:left;vertical-align:middle;height:74px">
			<legend style="color:#03244d;font-weight: 600">Hearing Protection</legend>
			<input type="radio" id="hearingProc1" name ="hearingProc" value="true"/>
			<label style="color: #dd550c;font-weight: 400" for="vehicle1"> Yes</label>

				<input type="text" id="customregulation1" name="NRR" value="7" size = "5"><br>
			
			<input type="radio" id="hearingProc2" name ="hearingProc" value="false" checked="checked"/>
			<label style="color: #dd550c;font-weight: 400" for="vehicle1"> None Used</label>
		</fieldset>

		<fieldset style="display:inline-block;text-align:left;box-sizing:border-box;width: 280px;vertical-align:middle">
			<legend style="color:#03244d;font-weight: 600">Threshold</legend>
			  	<input type="radio" id="standard1" name="standard" value="ES" checked="checked"/>
			  	<label style="color:#dd550c;font-weight: 400" for="standard1">Engineering Standard</label><br>
			  
			  	<input type="radio" id="standard2" name="standard" value="HCP"/>
			  	<label style="color:#dd550c;font-weight: 400" for="standard2">Hearing Conservation Program</label><br>
			  
			  	<input type="radio" id="standard3" name="standard" value="CustomStandard"/>
			  	<label style="color:#dd550c;font-weight: 400" for="standard3">Custom: </label>
			  
			  	<input type="text" id="customStandard2" name="Threshold" placeholder="Threshold" size="6">
		</fieldset>
	</div>
    	


	<!-- Each one of these will be linked to some function with a variable amount of inputs -->

		<div>

		</div>
		<!-- This submit button needs to linked to backend code that submits all of these forms at the same time -->
		<input style="margin-top:8px" type="submit" value="Submit">
    </form>
	<!-- This output will display the results -->


    
    

</center>
{%endblock%}
