{%extends 'base.html'%}
{%block content%}
<ul>
    <li class="li-unused"><span>Noise<a style="color:#337ab7">App</a></span></li>
    <li><a href="{{url_for('moreinfo')}}">More Info</a></li>
    <li><a class="active" href="{{url_for('reginfo')}}">Regulation Info</a></li>
	<li><a href="{{url_for('about')}}">Tool Walkthrough</a></li>
	<li><a href="{{url_for('index')}}">Calculations</a></li>
</ul>
<h1 style="padding-left:10%"><span style="color:#337ab7">OSHA</span> and <span style="color:#337ab7">NIOSH</span> Info</h1>
<div class="reg-info">
<b>The following is a collection of information from OSHA and NIOSH that is utilized by the Noise App:</b>
<br>
<br>
Exposure Threshold: The highest decibel value that a person can be exposed to over an 8 hour period.
<br>
<ol class="reg-style">
    <li>OSHA Criterion Level: 90 dB</li>
    <li>NIOSH Criterion Level: 85 dB</li>
</ol>
<br>
Exchange Rate: When a person’s decibel exposure increases by this amount the amount of time said person can be exposed to the new decibel level and still receive the same dosage over an 8 hour period is reduced by half.
<br>
<ol class="reg-style">
    <li>OSHA Exchange Rate: 5 dB</li>
    <li>NIOSH Exchange Rate: 3 dB</li>
</ol>
<br>
<br>
<b>The following are relevant links to more information regarding OSHA and NIOSH standards regarding Noise Exposure:</b>
<br>
<ol class="reg-style">
    <li><a href="https://www.osha.gov/laws-regs/regulations/standardnumber/1910/1910.95AppA#:~:text=Computation%20of%20Employee%20Noise%20Exposure&text=D%20%3D%20100">OSHA</a></li>
    <li><a href="https://www.cdc.gov/niosh/programs/hlp/">NIOSH</a></li>
</ol>

</div>

{%endblock%}